<!--The content below is only a placeholder and can be replaced.-->

<ng-fire-header></ng-fire-header>
    <ng-fire-main></ng-fire-main>

<ng-fire-footer></ng-fire-footer>



<!-- <div fxLayout="column">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <h3>
        {{title}}
      </h3>
  </div>
  <div fxLayout="row">
      <div class="left" fxFlex="20"> LEFT: 20% wide </div>
      <div class="right" fxFlex>
          <router-outlet></router-outlet>
           RIGHT: 80% wide </div>
  </div>
</div> -->
